<div class="jumbotron text-center">

	<h1>{{ title }}</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ panelTitle }}</h3>
		</div>
		<div class="panel-body">
			<form class="form-signin">
				<label for="inputNome" class="sr-only">Nome</label>
				<input type="text" id="inputNome" class="form-control" placeholder="Nome" required autofocus>
				<label for="inputSobrenome" class="sr-only">Sobrenome</label>
				<input type="text" id="inputName" class="form-control" placeholder="Sobrenome" required>
			<datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
			  	<input ng-model="date" class="form-control" type="text"/>
			</datepicker>





				<label for="inputPassword" class="sr-only">Senha</label>
				<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
			</form>
		</div>
	</div>

</div>

